<section class="wrapper">
  <h1>Modulo 2:</h1>

  <h2>ngIf -> if:</h2>
  <div>
    @if (
      variable && displayColor
      && !(!variable && displayColor)
      && !(variable && !displayColor)) {
      <p>
        El valor de la variable es <span style="color: green;">{{ variable }}</span>
      </p>
    } @else {
      @if (!variable && !displayColor) {
        <p>
          El valor de la variable es <span>{{ variable }}</span>
        </p>
      }
    }
    @if (!variable && displayColor) {
      <p>
        El valor de la variable es <span style="color: red;">{{ variable }}</span>
      </p>
    }
    @if (variable && !displayColor) {
      <p>
        El valor de la variable es <span>{{ variable }}</span>
      </p>
    }
  </div>
  <button (click)="variable = !variable">Toggle</button>
  <button (click)="displayColor = !displayColor">Display color</button>
  <h2 style="margin-top: 40px;">ngFor -> for:</h2>
  <div>
    <ul>
      @for (item of [1, 2, 3, 4, 5]; track item) {
        <li>item {{ item }}</li>
      }
    </ul>
  </div>
  <h2 style="margin-top: 40px;">ngSwitch -> switch:</h2>
  <div>
    @switch (switchValue) {
      @case ('A') {
        <p>case A</p>
      }
      @case ('B') {
        <p>case B</p>
      }
      @case ('C') {
        <p>case C</p>
      }
      @default {
        <p>No hay case</p>
      }
    }
  </div>
  <button style="margin-right: 10px;" (click)="switchValue = 'A'">A</button>
  <button style="margin-right: 10px;" (click)="switchValue = 'B'">B</button>
  <button (click)="switchValue = 'C'">C</button>

  <p><b>Ejercicio 1:</b> Usar el control-flow schematic para refactorizar las directivas estructurales</p>
  <p><b>Ejercicio 2:</b> Refactorizar el if para que use else ifs </p>

</section>

