<section class="wrapper">
    <h1>Modulo 1:</h1>
    <p>Este componente es parte del <b>Module1Module</b>. 
        Este modulo contiene varios componentes, pero solo uno se renderiza en este componente.
        El objectivo es refactorizar este componente para que sea un <b>standalone component</b> que solo importe el componente <b>Dummy1</b>.</p>
    <dummy1></dummy1>
    <p><b>Ejercicio 1</b>: Refactorizar el componente <b>NonStandaloneComponent</b> para que sea un <b>standalone component</b>.</p>
    <p><b>Ejercicio 2</b>: Refactorizar el componente <b>Dummy1</b> para que sea un <b>standalone component</b> sin modificar ningun otro componente (incluyendo este componente).</p>
    <p><b>Ejercicio 3</b>: Refactorizar este componente para que solo importe el componente <b>Dummy1</b>.</p>

</section>
