<section class="wrapper">
    <h1>Modulo 3: Lazy-loading</h1>
    <p><b>Ejercicio 1:</b> Aplicar lazy-loading a todas las rutas de la aplicación (app-routing.module.ts).</p>
    <p><b>Ejercicio 2:</b> Usar el defer para cargar las imagenes pesadas del modulo 3.</p>
    @defer(on hover) {
    <div style="margin-top: 40px">
        <img src="/assets/heavy-img.jpg" alt="Angular" width="300" height="200">
        <img src="/assets/heavy-img2.jpg" alt="Angular" width="300" height="200">
        <img src="/assets/heavy-img3.jpg" alt="Angular" width="300" height="200">
        <img src="/assets/heavy-img4.jpg" alt="Angular" width="300" height="400">
    </div>
    } @placeholder {
        <div>
            <div style="width: 300px; height: 200px; background-color: lightgray;"></div>
            <div style="width: 300px; height: 200px; background-color: lightgray;"></div>
            <div style="width: 300px; height: 200px; background-color: lightgray;"></div>
            <div style="width: 300px; height: 400px; background-color: lightgray;"></div>
        </div>
    }
    @defer(on interaction) {
        <non-standalone-component></non-standalone-component>
    } @placeholder {
        <div>Interact to load the component</div>
    }
</section>

